@value mediaQueryMobile from '../../common/size.css';
@value mediaQueryTablet from '../../common/size.css';

.menu_wrapper {
  position: relative;
  width: 8rem;
  height: 100vh;
  padding: 0.8rem 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgb(70, 70, 69);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in;
}

.menu_wrapper.increase {
  width: 13rem;
}

.menu_icon {
  height: 5rem;
  padding: 0.8rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: royalblue; */
}

.menu_hamburger {
  width: 3.4rem;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: #fff;
  position: relative;
  transition: all 0.2s ease-in;
}

.menu_hamburger::after,
.menu_hamburger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: inherit;
  border-radius: 1rem;
  background-color: inherit;
  transition: transform 0.2s ease-in;
}

.menu_hamburger::after {
  transform: translateY(1.1rem);
}

.menu_hamburger::before {
  transform: translateY(-1.1rem);
}

.sub_icon_list {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sub_icon {
  color: rgb(187, 187, 187);
  width: 50%;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* background-color: hotpink; */
  transition: all 0.2s ease-in;
}

.sub_icon:hover {
  background-color: rgba(0, 0, 0, 0.255);
}

.icon_text {
  display: none;
}

.setting_btn {
  width: 100%;
  height: 15%;
  padding: 1rem;
  transition: all 0.5s ease-in;

  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px dotted gray;
}

/* 45rem */
@media screen and (max-width: mediaQueryTablet) {
  .menu_wrapper {
    width: 6rem;
  }

  .menu_wrapper.increase {
    width: 10rem;
  }

  .menu_hamburger {
    width: 3rem;
  }
  .sub_icon {
    width: 100%;
  }
}

@media screen and (max-width: mediaQueryMobile) {
  .menu_wrapper {
    width: 100%;
    justify-content: center;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    position: relative;
  }

  .menu_wrapper.increase {
    transform: translateX(-100%);
  }

  .menu_icon {
    /* height: 4rem; */
    position: absolute;
    top: 0%;
    left: 7%;
  }

  .menu_hamburger {
    transform: rotate(45deg);
  }

  .menu_hamburger::after {
    display: none;
  }
  .menu_hamburger::before {
    transform: rotate(90deg);
  }
  /* click했을 때 menu_icon 스타일 변화 (클릭할 때랑 안할때랑 반대로함 ㅋㅋㅋ*/
  .menu_icon.active {
    left: 110%;
    transform: rotate(180deg);
  }

  .menu_icon.active > .menu_hamburger {
    width: 2rem;
    height: 0.3rem;
    background-color: #000;
    transform: rotate(0deg);
  }

  .menu_icon.active > .menu_hamburger::after {
    display: block;
    transform: translateY(0.8rem);
  }

  .menu_icon.active > .menu_hamburger::before {
    transform: translateY(-0.8rem);
  }

  .sub_icon_list {
    margin-bottom: 2rem;
  }

  .menu_hamburger {
    width: 3rem;
  }
  .sub_icon {
    width: 70%;
    font-size: 2.5rem;
  }
}
