@value mediaQueryMobile from '../../common/size.css';
@value mediaQueryTablet from '../../common/size.css';
@value menu_width_PC from '../../common/size.css';
@value menu_increase_PC from '../../common/size.css';

.menu_wrapper {
  position: absolute;
  left: 0;
  top: 0;

  width: menu_width_PC;
  height: 100vh;
  padding: 0.8rem 0;
  border-radius: 0 1rem 1rem 0;
  background-color: rgb(70, 70, 69);
  transition: all 0.2s ease-in;
}

.menu_box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in;
  /* background-color: blueviolet; */
}

.menu_wrapper.increase {
  width: calc(menu_width_PC + menu_increase_PC);
}

.menu_icon {
  height: 5rem;
  padding: 0.8rem 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 100%;
  font-size: 2rem;
  color: rgb(187, 187, 187);
  text-shadow: 1px 0px 9px rgb(23, 23, 23);
  transition: all 0.2s ease-in;
}

.active {
  transform: rotate(180deg);
}

.sub_icon_list {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: chartreuse; */
}

.sub_icon {
  font-family: 'Poor Story', cursive;
  color: rgb(187, 187, 187);
  width: 70%;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* background-color: hotpink; */
  transition: all 0.2s ease-in;
}

.sub_icon:hover {
  background-color: rgba(0, 0, 0, 0.255);
}

.sub_icon_box {
  width: 100%;
  text-decoration: none;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}
.item_icon {
}

.icon_text {
  margin-left: 1.4rem;
  font-size: 2rem;
  font-weight: 500;
  display: none;
}

.setting_btn {
  margin-top: 11rem;
  transition: all 0.2s ease-in;
}

.logOut_btn {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translate(-50%);

  border: none;
  background-color: transparent;
}

.onDisplay {
  display: block;
  opacity: 1;
  transition: all 0.2s ease-in;
}
/* 45rem */
@media screen and (max-width: mediaQueryTablet) {
}
