@value makerLightPink from '../../common/colors.css';
@value mediaQueryMobile from '../../common/size.css';

.main_virtual {
  width: 100%;
  height: 100vh;
}

.custom_shape_divider_bottom_1637135735 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom_shape_divider_bottom_1637135735 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 95px;
  transition: all 0.5s ease-in-out;
}

.custom_shape_divider_bottom_1637135735 .shape_fill {
  fill: makerLightPink;
}

/** For mobile devices **/
@media screen and (max-width: mediaQueryMobile) {
  .custom_shape_divider_bottom_1637135735 svg {
    width: calc(100% + 1.3px);
    height: 80px;
  }
}
