.container {
  position: relative;
}
.content {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 99;
}

.noDisplay {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
