.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  width: 60%;
  height: 80%;
  padding: 1.4rem 1rem;
  background-color: rgb(222, 222, 222);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 0.5s ease;

  animation: increase 0.2s ease;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.top {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bookmark {
  font-size: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  background: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.bookmark:hover {
  background-color: rgba(255, 255, 255, 0.39);
}

.date {
  font-size: 2rem;
}

.exit {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 0.3rem;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}

.exit:hover {
  background-color: rgba(255, 255, 255, 0.39);
}

.second {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.title {
  flex: 1;
  font-size: 1.6rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #000;
}

.emotion {
  font-size: 1.6rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #000;
}

.text {
  flex: 1;
  padding: 0.8rem;
  /* margin-top: 0.8rem; */
  border: 1px solid #000;
}

@keyframes increase {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes decrease {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
