@value mediaQueryMobile from '../../common/size.css';
@value mediaQueryTablet from '../../common/size.css';

.header {
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  position: relative;
}

.header_holder {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  padding: 1.6rem 1rem;
  background-color: rgb(138, 174, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_a {
  width: 100%;
}

.logo_a > img {
  width: 10rem;
  transition: all 0.5s ease;
}

.btn_nav {
  width: 5.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  height: 80%;
  position: relative;
  margin-right: 1rem;
  /* background-color: salmon; */
  cursor: pointer;
  position: relative;
}

.about {
  font-size: 1.7rem;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (max-width: mediaQueryTablet) {
  .header_holder {
    height: 8rem;
  }
  .logo_a > img {
    width: 6.7rem;
  }
}
