@value mediaQueryMobile from '../../common/size.css';
@value mediaQueryTablet from '../../common/size.css';
@value menu_width_PC from '../../common/size.css';
@value menu_increase_PC from '../../common/size.css';

.container {
  width: 100%;
  height: 100%;
}

.contents {
  width: calc(100% - menu_width_PC);
  height: 100%;
  position: absolute;
  left: menu_width_PC;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.2s ease-in;
}

.contents.increase {
  width: calc(100% - menu_width_PC - menu_increase_PC);
  left: calc(menu_width_PC + menu_increase_PC);
}
