@value mediaQueryMobile from '../../common/size.css';

.login_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.login_form {
  width: 24rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  transition: all 300ms ease-in;
}

.id,
.password,
.login_btn {
  flex: 1 1;
  padding: 1rem;
  border: none;
  margin-bottom: 1.5rem;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: 1.2rem;
}

.id,
.password {
  border-bottom: 2px solid rgb(225, 202, 225);
}

.login_btn {
  cursor: pointer;
  transition: all 300ms ease-in;
}

.login_btn:hover {
  background-color: rgb(176, 194, 148);
}

@media screen and (max-width: mediaQueryMobile) {
  .login_form {
    width: 18rem;
    /* top: 40%; */
  }
  .id,
  .password,
  .login_btn {
    font-size: 1rem;
  }
}
