.note_item {
  align-self: center;
  max-width: 15rem;
  min-width: 12rem;
  height: 9rem;
  background: rgba(213, 213, 213, 0.598);
  cursor: pointer;
  /* margin: 0 0 0.6rem 0; */
  transition: all 0.2s ease-out;

  padding: 0.8rem 1rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.note_item:hover {
  transform: scale(1.05);
}

.title {
  flex: 1 1 30%;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  overflow: hidden;
}

.date {
  justify-items: stretch;
  flex: 1 1;
}

.hashtag {
  flex: 1 1;
}
